.news-article-card{
    width: 650px;
    height:auto;
    margin-bottom: 50px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;
    margin: 20px;
    padding: 21px 20px;
    background-color:white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.news-article-img{
    height: 300px;
    width: 580px;
    object-fit: cover;
    display: block;
    margin-top: 2px;
    margin:0 auto
}
.title-article{
    font-size: 25px;
    font-weight: bold;
    margin-top:7px;
    margin-left: 8px;
}
.article-info{ 
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-style: italic;
    font-weight: bold;
}
.description{
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}
.readmore{
    display: block;
    width: fit-content;
    margin:0 auto;
    padding: 10px;
    text-decoration: none;
    background-color:black;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.readmore:hover{
    background-color: #333;
}