.news-article-img{
    height: 200px;
    width: 392px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2px;
}
.news-article-card{
    width: 400px;
    margin-bottom: 50px;
    border: 1px solid black;
    /* border-radius: 10px; */
    box-shadow: 5px 5px 15px black;
    margin: 20px;
    padding: 2px;
}
.title-article{
    font-size: 19px;
    padding: 5px;
    font-weight: bold;
}
.article-info{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}
.description{
    padding: 5px;
    font-weight: bold;
}
.Readmore{
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    /* background-color: rgb(187, 49, 49); */
    background-color:black;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}